* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(13, 52, 69);
}

nav ul li {
  position: relative;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(65, 112, 94);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    text-align: center;
    background-color: rgb(13, 52, 69);
}

nav .logo{
    display: flex;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 6px;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  text-align: center;
  color: white;
  background-color: rgb(13, 52, 69);
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  list-style-type: none;
  overflow: hidden;
}

footer ul li {
  position: relative;
  margin: 0 20px;
}

footer .logo{
    display: flex;
    max-width: 80px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 6px;
}


@media (max-width: 700px) {
    nav .logo, 
    footer .logo{
        display: flex;
        max-width: 50px;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 6px; 
    }
}